/* app.css */

/* Importation de la base de Tailwind */
@import 'tailwindcss/base';

/* Importation des composants de Tailwind */
@import 'tailwindcss/components';

/* Importation des utilitaires de Tailwind */
@import 'tailwindcss/utilities';

/* Réinitialisation de base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}